/* You can add global styles to this file, and also import other style files */

@import '~angular-tree-component/dist/angular-tree-component.css';

@import 'styl/variables'
@import 'styl/functions'
@import 'styl/generic'
@import 'styl/helpers'
@import 'styl/normalize'


html
body
    height:100%
    width:100%
    flex:1
    display:flex
    flex-direction:column
    background-color:#262626
    color:white
    overflow:hidden

.f
    display:flex
    flex:1
    height:100%    

.c
    flex-direction:column

.r
    flex-direction:row

.toggle-children
    background-image url("arrow.png")

.toggle-children-wrapper-expanded .toggle-children
        -webkit-transform rotate(90deg)
        transform rotate(270deg)
